<!-- Creates the Overall Grid -->
<div class="wrapper">
    <div class="logo">
        <h1><a href="/">FitTraker</a></h1>
    </div>

    <div class="logout">
        <a href="/">Log out</a>
    </div>

    <div class="title">
        <h1 class="fitplan-name">Current Program: {{fitplan_name.[0].fitplan_name}} </h1>
        <h2 class="fitplan-day"> Day {{curr_day.[0].day_number}} - {{curr_day.[0].day_name}}</h2>
        <br>
        <h4 class="info-num-exer">Total exercises: {{fitplan_info.[0].info_num_exer}}</h4>
        <h4 class="info-time">Completion time in mins: {{fitplan_info.[0].info_time}}</h4>
        <h4 class="info-equipment">Gym equipment needed: {{fitplan_info.[0].info_equipment}}</h4>
    </div>

    <div class="exerciseDiv">
        <div>
            {{#each completed_exer_entries}}
            <h3>Exercise {{exer_seq}}: {{exer_name}}</h3>
                {{#each sets_list}}
                    <div class = setDiv{{set_id}}>
                        <form class="set">
                            <label>Set {{set_seq}}:</label>
                            {{rep_num}} reps
                            <button color="gray" disabled='disabled' class="removeButton edit enableOnStart" data-id={{set_id}} type="button" value="Edit" >Edit</button>
                            <button color="gray" disabled='disabled' class="removeButton remove enableOnStart" data-id={{set_id}} type="button" value="Remove">Remove</button><br>
                        </form>
                    </div>
                {{/each}}
                <div class="appendSetDiv" id=appendSetDiv{{exer_seq}}></div>
                <button disabled='disabled' class="whiteTransButton add-set enableOnStart" type="button" data-id={{exer_seq}} value={{exer_seq}}>Add Set</button><br>
                <br>
            {{/each}}
            <br>
        </div>

        <div class="optionButtons">
            <span><button class="whiteTransButton startStop-button" data-state="stopped" type="button" data-workingout=false value="Start workout">Start workout</button>
                &nbsp;</span>
            <a href="/logged"><button class="whiteTransButton exit-button" type="button" data-workingout=false value="Exit">Exit</button></a>
        </div>
    </div>

  


